nav {
    background-color: var(--navbackground-color);
    width: 100%;
}

nav ul {
    list-style: none;
    color: var(--navtext-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}


nav ul li {
    padding: 0.5rem;
}

nav ul a {
    color: var(--navtext-color);
    text-decoration: none;
    font-size: 1.2rem;
      
}


@media (max-width: 500px) {
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: fit-content;
        margin: 0 auto;
        height: 10rem;
    }

    nav ul a {
        display: block;
        text-align: left;
        font-size: 0.9rem;
        font-weight: bold;
    }
}

