nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
}



nav button {
    width: 6rem;
    background: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0.5rem;
}

nav button:hover {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
}


#datum{
    font-size: 1rem;
    background-color: white;
      border: 1px solid black;
    border-radius: 5px;
    color: var(--primary-color);
    
    padding: 0.5rem;
}