nav {
    width: 80%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

nav a {
    color:inherit;
    margin: 0 auto;  /* Zentriert die Überschrift */
      text-decoration: none;
      font-size: 1.2rem;
    transition: color 0.3s ease; /* Macht den Übergang weich */
}

nav button {
    width: 6rem;
    background: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0.5rem;
}