* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color-primary: #334466;
  --color-secondary: #3498db;
  --color-success: #2ecc71;
  --color-danger: #e74c3c;
  --color-text: #333;
 
  --color-white: #ffffff;
}


body {
  /* background-color: var(--color-background); */
  background: linear-gradient( to right, #77a0bb, #58a, #1a3d57);


  color: var(--color-white);
  font-family: Arial, sans-serif;

}


