* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #006FDB;
}



body{
    
    background-color: var(--primary-color);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
  margin:1rem;
}

.links-container{

  background-color: white;
  width: 80%;
  margin:1rem;

}
.links-container h2 {
  color: #333;
  margin-top:1rem;
  border-top: 1px solid black;
  padding:1rem;
}

.links-container a {
  color: var(--primary-color);
  text-decoration: none;
  padding:1rem;
}

.links-container a:hover {
  text-decoration: underline;
}