* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #006FDB;
}


body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: var(--primary-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


nav{
    margin:1rem;
    padding:1rem;
    background-color: white;
   width: 80%;
    border-radius: 2px;

}
nav h1{
    text-align: center;
}


.warten{
    margin-top:5rem;
    text-align:center;
}

.todo-container{
    margin:1rem;
     width: 80%;
  
     display: flex;           /* Wichtig! */
    flex-direction: column;  /* Cards untereinander */
    gap: 0; 
    

}

.todo-card {
    display: flex;
    
    flex-direction: column;
    
   
    border-radius: 5px;
    background-color: white;
    
    /* Abstand zwischen den Boxen */
    margin: 0 0 1rem 0;
    
    /* Innenabstand */
    padding: 1rem;
    
    /* Schatten für bessere Abgrenzung */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.text{
    padding:1rem;
}

.todo-zeile{
    display: flex;
    justify-content: space-between;
}

.datum{
    padding:0.5rem;
    color:black;
    font-size:0.5rem;
}
.todo-card button{
    
    color:red;
    background-color: white;
    border:none;
    padding:0;
    cursor: pointer;
}


.aufklappen {
    background-color:var(--primary-color);
    width: 5rem;
    color: white;
    margin: 1rem;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


#formular{
    display:none;
}

#formular.sichtbar{
    display:flex;
    justify-content: space-around;
     margin:1rem;
     width: 80%;

}

#formular button{
    border:none;

}