* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: blueviolet;;
}

body{
  
    background-color: #f4f4f4;
    color: var(--primary-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




h1 {

    margin: 1rem;
}



.select-container select {
    
    border: none;
    outline: none; 
    padding: 0.5rem;
    color: #333;
    font-style: italic;
   
}


.titel{

    text-align: center;
    margin: 1rem;
}


.card {
    margin: 1rem;
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p, .card h3 {
    padding: 1rem;
    
}

/* Alle HRs in der Card */
.card hr {
    height: 2px;
    background-color: var(--primary-color);
    border: none; /* Wichtig: Standard-Border entfernen */
 width: 90%;
    margin: 0.5rem auto; /* Optional: Abstand */
}

.card h3 {
text-align: center;
}


.card .category {
    /* Style für Category */
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
}

.card .value {
    /* Style für Value */
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}