.ergebnisse {
  margin-top: 2rem;
    display: flex;
    justify-content:space-around;
    gap: 10px;
    /* Abstand zwischen Text und Torte */
}

.ergebnistext {
    flex: 1;
}

.tortencontainer {
    flex: 4;
    background-color: white;
    width: 50%;
}


.tortencontainer canvas {

    width: 100%;
    height: 500px;
    
    padding: 0;
    margin: 0;
    border: none;
    display: block;
}