
.textcontainer {
    margin: auto;
    margin-top: 0.5rem;
    background:white;
    color:black;
    width: 50%;
    border: 3px solid black;
    
}

.textcontainer p{
    padding: 0.2rem;;
    text-align: center;
}