* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #006FDB;
    --secondary-color: #00997A;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.ordner-container {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.ordner-container button {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 8rem;
    cursor: pointer;
    padding: 0.5rem;
}


.mdDatei{
margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

}

.mdDatei button {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    width: 8rem;
    cursor: pointer;
    padding: 0.5rem;
}


.unterordner {
margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

}

.unterordner  button{
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    width: 8rem;
    cursor: pointer;
    padding: 0.5rem;
}


#mdContent{
    display:none;
}