


.selectcontainer {
  
    
    margin-top: 2rem;
    text-align: center;
    margin-top: 1rem;
}
.selectcontainer select{
    width: 100%;
    height: 2rem;
    font-size: large;
    border: 3px solid var(--color-primary);
}

.selectcontainer option{
    text-align: center;
    

}


