* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #006FDB;
}

body{
  
    background-color: #f4f4f4;
    color: var(--primary-color);
    display:flex;
    flex-direction: column;
}

nav {
    margin:1rem;
}

nav h1 {
    text-align: center;
}


button{
margin:1rem;
     width: 6rem;
    background: none;
    
 background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);

    border-radius: 5px;
    
    cursor: pointer;
    padding: 0.5rem;
}

 button:hover {
   
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}


.eingabe  {
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius:5px;
    margin:1rem;
   
}

#formular{
  display:flex;
    flex-direction: column;
    gap:1rem;

}

.ausgabe{

background-color: white;
    border: 1px solid var(--primary-color);
    border-radius:5px;
    margin:1rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
}